.layout {
  @apply flex flex-col h-screen relative overflow-hidden;
  @apply bg-black-yellow text-white;

  &::before {
    @apply absolute bg-yellow-500;
    content: '';
    top: -50vw;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 200vh;
    transform: rotate(20deg);
  }

  &__content {
    @apply container items-center justify-between mx-auto flex-1;
    @apply p-2;
  }

  &__aside {
    @apply relative sm:pr-5;
  }

  &__main {
    @apply max-w-full flex-1 sm:flex-auto relative sm:static z-10;
    width: 1000px;
  }

  @screen sm {
    &::before {
      left: -90vw;
    }

    &__content {
      @apply flex;
    }
  }

  @screen xl {
    &::before {
      left: -75vw;
    }
  }
}