<div>
  <h2>Cześć!</h2>
  <p>Nazywam się {{ name }} i miło mi Cie tu gościć.</p>
  <p>Jestem z zawodu Front-End Developerem.</p>
  <p>Możesz się ze mną skontaktować poprzez:</p>
  <ul>
    
  </ul>

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>arrow_right</mat-icon>
      <div>E-mail: <a href="mailto:skrzepij@gmail.com">skrzepij@gmail.com</a></div> 
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>arrow_right</mat-icon>
      <div>Telefon: <a href="tel:+48516694229">+48 516 694 229</a></div>
    </mat-list-item>
  </mat-list>
</div>

<footer>
  Deployed by Travis. Hosted by GitHub Pages.
</footer>
